.bookCover {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
}
.bookCover:hover {
  transform: 1s scale(1.05);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); */
}
a {
  text-decoration: none !important;
}
